.cemetery-container {
  width: 150px;
  height: 250px;
  position: relative;
  margin: 0 auto;
}

.cemetry--card__container--black {
  box-shadow: 0px 0px 25px 10px var(--black);
}
.cemetry--card__container--blue {
  box-shadow: 0px 0px 25px 10px var(--blue);
}
.cemetry--card__container--green {
  box-shadow: 0px 0px 25px 10px var(--green);
}
.cemetry--card__container--white {
  box-shadow: 0px 0px 25px 10px var(--white);
}
.cemetry--card__container--yellow {
  box-shadow: 0px 0px 25px 10px var(--yellow);
}
.cemetry--card__container--red {
  box-shadow: 0px 0px 25px 10px var(--red);
}

.cemetry--card__container {
  position: absolute;
  top: 0;
  transition: transform 1s ease;
  border-radius: 10px;
}

.cemetry--card__container:nth-child(1) {
  transform: translate(0, 0) rotate(0deg);
  z-index: 6;
}

.cemetry--card__container:nth-child(2) {
  transform: translate(-3px, -3px) rotate(-3deg);
  z-index: 5;
}

.cemetry--card__container:nth-child(3) {
  transform: translate(0, 0) rotate(1deg);
  z-index: 4;
}

.cemetry--card__container:nth-child(4) {
  transform: translate(3px, 1px) rotate(3deg);
  z-index: 3;
}

.cemetry--card__container:nth-child(5) {
  transform: translate(10px, 10px) rotate(10deg);
  z-index: 2;
}

.cemetery-container--visible .cemetry--card__container:nth-child(1) {
  transform: translate(0, 0) rotate(0deg);
  z-index: 6;
}

.cemetery-container--visible .cemetry--card__container:nth-child(2) {
  transform: translate(97px, -3px) rotate(-3deg);
  z-index: 5;
}

.cemetery-container--visible .cemetry--card__container:nth-child(3) {
  transform: translate(198px, 0) rotate(1deg);
  z-index: 4;
}

.cemetery-container--visible .cemetry--card__container:nth-child(4) {
  transform: translate(298px, 1px) rotate(3deg);
  z-index: 3;
}

.cemetery-container--visible .cemetry--card__container:nth-child(5) {
  transform: translate(400px, 10px) rotate(10deg);
  z-index: 2;
}
