.hand-container {
  display: flex;
}

.hand-container__card-container {
  position: relative;
  margin: 10px;
}

.hand-container__choice-container {
  position: absolute;
  border-radius: 10px;
  z-index: 100;
  height: 100%;
}

.choice-container__button {
  width: 158px;
  cursor: pointer;
}

.choice-container__button:hover {
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.3);
}

.hand-container p {
  padding: 0;
  margin: 0;
}

.choice-container__button__play {
  height: 170px;
  background-color: var(--color2);
  border-radius: 10px 10px 0 0;
}

.choice-container__button__give {
  height: 100%;
  background-color: var(--red);
  border-radius: 10px;
}

.hand-container__card-container__gift .choice-container__button {
  opacity: 1;
}
