.hand-container {
  display: flex;
}

.hand-container__card-container {
  position: relative;
  margin: 10px;
}

.hand-container__choice-container {
  position: absolute;
  border-radius: 10px;
  z-index: 100;
  height: 100%;
}

.choice-container__button {
  width: 158px;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
}

.choice-container__button:hover {
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.3);
}

.hand-container p {
  padding: 0;
  margin: 0;
}

.hand-container--black {
  background-color: var(--black);
}
.hand-container--blue {
  background-color: var(--blue);
}
.hand-container--green {
  background-color: var(--green);
}
.hand-container--white {
  background-color: var(--white);
}
.hand-container--yellow {
  background-color: var(--yellow);
}
.hand-container--red {
  background-color: var(--red);
}

.choice-container__button__play {
  background-color: var(--color2);
}

.choice-container__button__give {
  background-color: var(--red);
}

.hand-container__card-container__gift .choice-container__button {
  opacity: 1;
}
